*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    list-style: none;
    padding: 40px 20px;
}

.bg{
    background-image: url(./img/bg_slilder-1.jpg);
    width: 100%;
    height: 750px;
}

.angle::before {
    border-bottom: 72px solid #333;
    border-right: 960px solid transparent;
    left: 0;
}
.angle::before, .angle::after {
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 4;
    
}
.angle::after {
    border-bottom: 72px solid #333;
    border-left: 960px solid transparent;
    right: 0;
    margin-top: 1000px;
}
.angle2::before {
    border-top: 72px solid #333;
    border-right: 960px solid transparent;
    left: 0;
    margin-top: 750px;
}
.angle2::before, .angle2::after {
    top: 0;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 4;
   
}
.angle2::after {
    border-top: 72px solid #333;
    border-left: 960px solid transparent;
    right: 0;
    margin-top: 750px;
}